<!DOCTYPE html>
<html>

    <head>
        <meta Charest="utf-8">
        <title>vachouilette</title>
        <style>
            h1 {
                color: rgb(0, 0, 200);
            }  

            h2 {
                color: rgb(89, 216, 63)
            }
            
            body {
                background-color: rgb(120, 106, 245)
            }        
            </style>
    </head>

    <body>
        <h1> La ferme des 3 Chênesc</h1>
        <em>
            <p>Vous cherchez un vache de famille : </p><br>
            <p>{{name}}</p>
        </em>
        
    </body>
</html>