<!DOCTYPE html>
<html>


    <head>
        <meta Charest="utf-8">
        <title>Ferme des 3 chênes</title>
        <meta name="author" content="Groupe Martin-10">
        <meta name="description" content="Page d'accueil">
        <link rel="stylesheet" type="text/css" href="{{ url for('static',filename='style.css)}}">
    </head>

    <body>
    <!--Menu au dessus de la page-->
        <form action="" >
            <div id="wrap">
                <ul class="menu">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="menu-velage.html" target="_blank">Vêlages</a>   
                    </li>
                    <li>
                        <a href="menu-pl.html" target="_blank">Pleine lune</a>
                    </li>
                    <li>
                        <a href="menu-repartition.html" target="_blank">Répartition</a>
                    </li>    
            </div>
        </form>
    <!--Image couverture-->     
        <div class ="cowimage"></div>
        <h1>
            LA FERME DES 3 CHÊNES
        </h1>
    
    <!--Texte de description-->    
        <h2>
            Bienvenue à la ferme des 3 chênes, ici vous pourrez retrouver toutes les infos nécessaires sur vos vaches préférées. <br>
            Notre menu interactif vous permet d'affiner vos recherche. Bonne visite !
        </h2>
    
        
                
    </body>

