<!DOCTYPE html>
<html>


    <head>
        <meta Charest="utf-8">
        <title>Velages</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
        <link rel="icon" href="{{ url_for('static', filename='vache.ico')}}"/>
    </head>

    <body>
    <!--Menu au dessus de la page-->
        <form action="">
            <div id="wrap">
                <ul class="menu">
                    <li>
                        <a href="{{ url_for('login')}}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('velage')}}" target="_blank">Vêlages</a>   
                    </li>
                    <li>
                        <a href="{{ url_for('pl')}}" target="_blank">Pleine lune</a>
                    </li>
                    <li>
                        <a href="{{ url_for('rep')}}" target="_blank">Répartition</a>
                    </li>    
            </div>
        </form>
    
    
    
    <!--Menu au dessus de la page-->
        <form action="{{url_for("GraphV")}}" method="POST" class="form-example">
            <div class="case">
                <div class="Periode">
                    <label for="Période">Choisissez une année:</label>
                    
                    <input type="number" id="an" name="an" 
                    value="2000"
                    min="1950" max="2022">
                    <br><br> 
                </div>
                <div class="famille">
                    <label for="famille">Choisissez une mois (facultattif):</label>
    
                    <select name="mois" id="mois">
                        <option value="None">Aucun</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        
                    </select><br><br>   
                </div>
                
                <div class="famille">
                    <label for="famille">Choisissez une famille (facultattif):</label>
    
                    <select name="famille" id="famille">
                        <option value="None">Aucun</option>
                        <option value="Galak">Galak</option>
                        <option value="dave">Dave</option>
                        <option value="pumpernickel">Pumpernickel</option>
                        <option value="reeses">Reeses</option>
                    </select><br><br>   
                </div>
                
                
            </div>
            <div class="entrer">
                <button type="submit" onclick="velages.html" >Afficher</button>
            </div>           
        </form>
    </body>
</html>
