<!DOCTYPE html>
<html>


    <head>
        <meta Charest="utf-8">
        <title>Velages</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
        <link rel="icon" href="{{ url_for('static', filename='vache.ico')}}"/>
    </head>

    <body>
    <!--Menu au dessus de la page-->
        <form action="">
            <div id="wrap">
                <ul class="menu">
                    <li>
                        <a href="{{ url_for('login')}}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('velage')}}" target="_blank">Vêlages</a>   
                    </li>
                    <li>
                        <a href="{{ url_for('pl')}}" target="_blank">Pleine lune</a>
                    </li>
                    <li>
                        <a href="{{ url_for('rep')}}" target="_blank">Répartition</a>
                    </li>    
            </div>
        </form>
    
    
    
    <!--Menu au dessus de la page-->
        <form action="{{url_for("GraphV")}}" method="POST" class="form-example">
            <div class="case">
                <div class="Periode">
                    <label for="Période">Choisissez une periode:</label>
                
                    <input type="Mois" id="date" name="date"
                    value="ex : 1910-01">
                   <br><br> 
                </div>
                
                <div class="famille">
                    <label for="famille">Choisissez une famille:</label>
    
                    <select name="famille" id="famille">
                        <option value="">Aucun</option>
                        <option value="rigatoni">Rigatoni</option>
                        <option value="dave">Dave</option>
                        <option value="pumpernickel">Pumpernickel</option>
                        <option value="reeses">Reeses</option>
                    </select><br><br>   
                </div>
                
                
            </div>
            <div class="entrer">
                <button type="submit" onclick="velages.html" >Afficher</button>
            </div>           
        </form>
    </body>
</html>
