<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
        <title>Vaches nées sous pleine lune</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
        <link rel="icon" href="{{ url_for('static', filename='vache.ico')}}"/>
    </head>

    <body>
        <br>
        <h2><u>Graphique des naissances en pleine-lune {{ annee }} ({{ velage }} naissances)</u></h2>
        <form action = "{{url_for("pl")}}"> 
            <input class="retour" type="submit" value="Retour">
        </form>
        
        <br><br><br><br>
        <br><br><br><br>
        
        <div style="text-align: center;"> <!-- Deuxième Canvas: graphe en style bar -->
            <canvas id="pl_graph" width="600" height="600"></canvas>
        </div>

        <script>
            
            var barColors = ["#b91d47", "#00aba9"];

            new Chart("pl_graph", {
            type: 'pie',   // le type du graphique
            data: {        // les données
                labels: ['pleine lune','hors pleine lune'],
                datasets: [{
                    
                    data: {{ vache_naissance | safe }},
                    backgroundColor: barColors,
                }]
                },
            options: {
                responsive : false
            }
            
        });
        </script>
    </body>
</html>
