<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <title>Répartition des races</title>
</head>

<body> 
    <input class="retour" type="submit" value="Retour">

    <canvas id="races-graphique" width="200px" height="200px"></canvas>
    
    <script>

        var ctx = document.getElementById("races-graphique").getContext('2d');
        var deathChart = new Chart(ctx, {
            type: 'pie',
            data:{
                labels: {{ races | safe }},
                datasets: [{
                    data: {{ vaches_races | safe }},
                    backgroundColor: [
                    'rgb(0, 205, 255)',
                    'rgb(255, 0, 0)',
                    'rgb(34, 255, 0)'
                    ],
                    hoverOffset: 4
                ]
            }
        }
    }
    );
</script>

</body>    
                    
