<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
        <title>Un graphique avec des velages</title>
    </head>

    <body> 
        <form>
            <H1><u>Le {{ mois }} {{ annee }} il y a eu {{ nombre_velage }} velages</u></H1> 
            <input class="retour" type="submit" value="Retour">
        </form>

        <canvas id="graphique" width="200px" height="200px"></canvas>

        <script>
            var ctx = document.getElementById('graphique').getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ mois_annee | safe }},
                datasets: [{
                    label: 'Nombre de velage',
                    data: {{ nombre_velage | safe }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                    ],
                    borderWidth: 1
                }]
            },
        }
            )
        </script>
    </body>

</html>

